@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face
{
font-family: 'Ngaan';
src: url('./I.Ngaan.ttf');
font-weight: normal;
font-style: normal;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}