@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face
{
font-family: 'Ngaan';
/* src: url('./I.Ngaan.woff'); */
src: url('./I.Ngaan.subset.woff2');
font-weight: normal;
font-style: normal;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@media (min-width:1200px) and (max-width:1366px) {
    html {
        zoom: 0.66;
    }
    #photo {
        height: 100%;
    }
}

@media (min-width:1367px) and (max-width:1440px) {
    html {
        zoom: 0.78;
    }
    #photo {
        height: 100%;
    }
}